<html>
<head>
<title>Welcome to ansible</title>
</head>
<body>
<h1>nginx, configured Ьу Ansible</h1>
<p>If you сап see this, Ansible successfully installed nginx. </p>
<р>{{ ansible_managed }}</р>
</body>
</html>